<a href="https://colab.research.google.com/github/saitarun18/OOP---20BCS096/blob/main/List%2CTuple%2CString%2CSetipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
# Lists - Methods in python

x = ['1','python','5','Tarun','oop','end','python']
print(type(x))                                       # shows the type of Data Structure
print(len(x))                                        # shows the length of list
x.append('Tiger')                                    # adds element at the end of list  
print(x)
x.remove('python')                                   # removes the particular element in the list
print(x)
x.extend(['1','2','3'])                              # extend helps to insert another list with the existing list
print(x)
x.insert(2,'Lion')                                   # inserts the element in a particular indexed position
print(x)
count = x.count('1')                                 # gives the number of times the particular element appear in the list
print(count)
index = x.index('python')                            # shows the index of element in the list
print(index)
removed_element = x.pop(4)                           # removes partiular indexed element
print('Removed element :',removed_element)
x.reverse()                                          # totally reverses the list
print(x)
x.sort()                                             # sorts the list in order
print(x)
x.copy()                                             # exactly copies the list
print(x)
x.clear()                                            # clears the entire list
print(x)

<class 'list'>
7
['1', 'python', '5', 'Tarun', 'oop', 'end', 'python', 'Tiger']
['1', '5', 'Tarun', 'oop', 'end', 'python', 'Tiger']
['1', '5', 'Tarun', 'oop', 'end', 'python', 'Tiger', '1', '2', '3']
['1', '5', 'Lion', 'Tarun', 'oop', 'end', 'python', 'Tiger', '1', '2', '3']
2
6
Removed element : oop
['3', '2', '1', 'Tiger', 'python', 'end', 'Tarun', 'Lion', '5', '1']
['1', '1', '2', '3', '5', 'Lion', 'Tarun', 'Tiger', 'end', 'python']
['1', '1', '2', '3', '5', 'Lion', 'Tarun', 'Tiger', 'end', 'python']
[]

In [58]:
# Tuple - Accessing Tuple Elements

k = ('t','a','r','u','n','1','2','3','t')
print(type(k))                      # Gives the type of Data structure
print(k[0])                          
print(k[2:6])                       # indexing of Tuple
print(k[0:])                        # slicing 
print(k[:45])

# Nested Tuple

j = nested_tuple = ('lion','tiger',[1,2,3,40],(4,5,6,7))
print(j[0][2])
print(j[3][2])

print(k[-1])         # Negative Indexing in Tuple
print(j[-3])

count = k.count('t') # counting in Tuple
print(count)

# operations  with  Tuples
# 1. Membership            # checks The string present in tuple or not
print('t' in  k)
print('z' in  k)
# 2. Repetetion            # repeats the tuple number of times we want
m = k * 3
print(m)
# 3. Iteration             # iterates over the tuple
for i in k:
  print(i)
# 4. Concatenation         # adds two or more tuples into one 
n = k + j
print(n)

<class 'tuple'>
t
('r', 'u', 'n', '1')
('t', 'a', 'r', 'u', 'n', '1', '2', '3', 't')
('t', 'a', 'r', 'u', 'n', '1', '2', '3', 't')
o
6
t
tiger
2
True
False
('t', 'a', 'r', 'u', 'n', '1', '2', '3', 't', 't', 'a', 'r', 'u', 'n', '1', '2', '3', 't', 't', 'a', 'r', 'u', 'n', '1', '2', '3', 't')
t
a
r
u
n
1
2
3
t
('t', 'a', 'r', 'u', 'n', '1', '2', '3', 't', 'lion', 'tiger', [1, 2, 3, 40], (4, 5, 6, 7))

In [92]:
# Strings -  Sequence of Characters 

a = 'Hello'     #single line string
print(a)

a = "Hello"
print(a)

#multiple line string
a = '''Hello This  
is OOp course'''
print(a)

print(type(a))

# Accessing String Characters
str = "The first step toward change is awareness"
print('str[0] = ',str[0])
print(str[0:])
print(str[9:-2])           #string slicing
print(str[8:-4])

#  Methods Of Strings
print(len(str)) 
x = str.upper()
print(x)
x = str.lower()
print(x)
x = str.split()
print(x)
x = str.strip()
print(x)
x = str.count('a')
print(x)
x = str.replace("first","Second")
print(x)
print(str.startswith("T"))
print(str.startswith("n"))
print(str.endswith("s"))
print(str.endswith("k"))
print("The first step toward change is awareness {}".format('The second step is acceptance'))

Hello
Hello
Hello This
is OOp course
<class 'str'>
str[0] =  T
The first step toward change is awareness
 step toward change is awarene
t step toward change is aware
41
THE FIRST STEP TOWARD CHANGE IS AWARENESS
the first step toward change is awareness
['The', 'first', 'step', 'toward', 'change', 'is', 'awareness']
The first step toward change is awareness
4
The Second step toward change is awareness
True
False
True
False
The first step toward change is awareness The second step is acceptance

In [132]:
# Sets : Collectionn of well defined objects

# Some Methods for Sets

s1 = {1,2,3,4}
s2 = {'a','e','i','o','u'}
x  = {1,2,3,4,5,6,7,8,9}
print(s1)
print(type(s1))
print(max(s1))
print(min(s1))
s1.add(5)
print(s)
tup = ('6','7')
s1.add(tup)
print(s)
s1.update('5')
print(s1)
length = len(s1)
print("The length of set : ",length)
print(s1.union(x))
print(s1.difference(x))
print(s1.intersection(x))
print(s1.isdisjoint(x))
print(s1.issubset(x))
print(s1.issuperset(x))
k = x.pop()
print(k)
k = x.pop()
print(k)
k = x.pop()
print(k)
x.copy()
print(x)
x.clear()
print(x)

{1, 2, 3, 4}
<class 'set'>
4
1
{1, 2, 3, 4, 5, ('6', '7')}
{1, 2, 3, 4, 5, ('6', '7')}
{1, 2, 3, 4, 5, '5', ('6', '7')}
The length of set :  7
{1, 2, 3, 4, 5, 6, 7, 8, 9, ('6', '7'), '5'}
{'5', ('6', '7')}
{1, 2, 3, 4, 5}
False
False
False
1
2
3
{4, 5, 6, 7, 8, 9}
set()